<h1>@Html.Raw(@ViewBag.Kanji)</h1>
<style>
h1 {
  font-size: 8em;
  margin: 20px;
}

#tablet {
  width: 150px;
  height: 150px;
  border: 1px solid black;
}
</style>
<div id="tablet" onmousedown="myFunction(event)" onmouseup="clearCoor()">
<svg height="150" width="150" id="draw">
  <polyline id="pi" points="" style="fill:none;stroke:#000;stroke-width:6" />
</svg>
</div>

<!-- <div onmousemove="mm(event)" onmouseout="clearCoor()"></div>
<div onmousedown="myFunction(event)" onmouseup="clearCoor()"></div> -->

<p id="demo"></p>

<script>
function myFunction(e) {
  var x = e.clientX;
  var y = e.clientY;
  var coor = "Coordinates: (" + x + "," + y + ")";
  document.addEventListener("mousemove", mm);
  document.getElementById("demo").innerHTML = coor;
}
function mm(e) {
    var x = e.clientX;
    var y = e.clientY;
    var svg = document.getElementById('draw');
    var point = svg.createSVGPoint();
    myFunction(e);
    document.getElementById("demo").innerHTML = "Coordinates: " + x + "," + y;
    point.x += (x-194);
    point.y += (y-332);
    console.log(point);
    var polyline = document.getElementById('pi');
    polyline.points.appendItem(point);
}
function clearCoor() {
  //document.getElementById("demo").innerHTML = "";
  console.log('mouse up!');
  document.getElementById('pi').id="";
  document.getElementById('draw').innerHTML += '<polyline id="pi" points="" style="fill:none;stroke:#000;stroke-width:6" />';
  document.removeEventListener('mousemove', mm);
}
</script>