<h1>@Html.Raw(@ViewBag.Kanji)</h1>
<style>
div {
  width: 200px;
  height: 100px;
  border: 1px solid black;
}
</style>
<svg height="100" width="200" id="draw">
  <polyline id="pi" points="" style="fill:none;stroke:#000;stroke-width:3" />
</svg>

<!-- <div onmousemove="mm(event)" onmouseout="clearCoor()"></div> -->
<div onmousedown="myFunction(event)" onmouseup="clearCoor()"></div>

<p id="demo"></p>

<script>
function myFunction(e) {
  var x = e.clientX;
  var y = e.clientY;
  var coor = "Coordinates: (" + x + "," + y + ")";
  document.addEventListener("mousemove", mm);
  document.getElementById("demo").innerHTML = coor;
}

function mm(e) {
    var x = e.clientX;
    var y = e.clientY;
    var svg = document.getElementById('draw');
    var point = svg.createSVGPoint();
    myFunction(e);
    document.getElementById("demo").innerHTML = "Coordinates: " + x + "," + y;
    point.x += (x-220);
    point.y += (y-320);
    console.log(point);
    var polyline = document.getElementById('pi');
    polyline.points.appendItem(point);
}

function clearCoor() {
  //document.getElementById("demo").innerHTML = "";
  document.removeEventListener('mousemove', mm);
}
</script>